<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
   
    
</head>
<body>
    <h1 align="center">BOOK_DETAILS</h1>
    <table border="2px" align="center" bgcolor="burlywood">
        <tr>
            <th>Title</th>
            <th>Author</th>
            <th>Genre</th>
            <th>View</th>

        </tr>
    {%for book in qs%}
    <tr>
        <td>{{book.title}}</td>
        <td>{{book.author}}</td>
        <td>{{book.genre}}</td>
        <td>
            <a href="{% url 'book-det' book.id %}">Link</a>
            <a href="{% url 'book-del' book.id %}">Delete</a>
        </td>
    </tr>
    {%endfor%}
</table>
    
</body>
</html>